.bc {
  &--white {
    background-color: #fff !important;
  }
}

.grid-with-margin {
  display: grid;
  grid-template-columns: [start] 60px [middle] repeat(12, 1fr) [middle-end] 60px [end];
  grid-column-gap: 1em;
  @include bp(phablet){
    grid-template-columns: [start] 10px [middle] repeat(12, 1fr) [middle-end] 10px [end];
    grid-column-gap: 0.2em;
  }
}
.grid-12-container {
  display: grid;
  grid-template-columns:  repeat(12, 1fr) ;
}
.grid-4-container {
  display: grid;
  grid-template-columns:  repeat(4, 1fr) ;
}

.grid-5-row {
  grid-template-rows: [top] 130px [middle] repeat(5, 1fr) [bottom] 80px [last-line];
  grid-row-gap: 1em;
  @include bp(phablet) {
    grid-template-rows: [top] 50px [middle] repeat(5, 1fr) [bottom] 30px [last-line];
    grid-row-gap: 0.2em;
  }
}

.grid-row-content {
  grid-template-rows: [top] 130px [title]100px[middle] auto [bottom] 80px [last-line];
  grid-row-gap: 1em;
}

.grid-row-content__single-prod, .grid-row-content__12_row {
  grid-template-rows: [top] 130px [middle] repeat(12, 1fr) [bottom] 80px [last-line];
  grid-row-gap: 1em;
  @include bp(phablet) {
    grid-template-rows: [top] 50px [middle] repeat(12, 1fr) [bottom] 30px [last-line];
    grid-row-gap: 0.2em;
  }
}

.grid-span {
  &--4 {
    grid-column: span 4;
  }
  &--6 {
    grid-column: span 6;
  }
  &--12 {
    grid-column: span 12;
  }
}


.visibility {
  &__visible {
    transition: all 800ms ease;
    visibility: visible;
    opacity: 1;
  }
  &__hidden {
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
  }
}

