// @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700&display=swap|Raleway:400,600&display=swap|EB+Garamond:400,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Fleur+De+Leah&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,600;1,100;1,600&display=swap');
// $nav-font-family: 'Raleway', sans-serif;
$test: 'Viaoda Libre', serif;
$nav-font-family: 'Josefin Slab', serif;  //'Raleway', 'Josefin Slab', sans-serif;
$table: $nav-font-family;
$paragraph-font-family: 'Josefin Slab', serif;
$body-font-family: 'Josefin Slab', serif;
$corma: $body-font-family;
// $cursive : 'Fleur De Leah', cursive;
$cursive : $body-font-family;
h1 {
  font-family: $cursive;
  font-size: em(64);
  color: inherit;
  font-weight: 600;
  .blue_theme & {
    color: $darkBlue;
  }
  .green_theme & {
    color: $darkGreen;
  }
  .lilac_theme & {
    color: $darkLilac;
  }
  .black_theme & {
    color: $white;
  }
  .gold_theme & {
    color: $gold-light;
  }
  @include bp(phablet){
    font-size: em(42);
    margin-top: em(12);
  }
}
h2 {
  font-family: $cursive;
  font-size: em(44);
  color: $darkBlue;
  font-weight: 400;
  .blue_theme & {
    color: $darkBlue;
  }
  .green_theme & {
    color: $darkGreen;
  }
  .lilac_theme & {
    color: $darkLilac
  }
  .black_theme & {
    color: $white;
  }
  .gold_theme & {
    color: $gold-light;
  }
  @include bp(phablet){
    font-size: em(36);
  }
}

h3 {
  font-family: $cursive;
  font-size: em(36);
  color: $darkBlue;
  font-weight: 400;
  & b {
    font-weight: 400 !important;
  }
  .blue_theme & {
    color: $darkBlue;
  }
  .green_theme & {
    color: $darkGreen;
    & b {font-weight: 400 !important;}
  }
  .lilac_theme & {
    color: $darkLilac
  }
  .black_theme & {
    color: $white;
  }
  .gold_theme & {
    color: $gold-light;
  }
  @include bp(phablet){
    font-size: em(18);
  }
}

.s1 b {
  font-weight: 400 !important;
}

p, a {
  font-family: $paragraph-font-family;
  font-size: em(24);
  line-height: em(28);

  .green_theme & {
    color: $darkGreenParagraph;
  }
  .black_theme & {
    color: $white;
  }
  .gold_theme & {
    color: $gold-light;
  }
  .lilac_theme & {
    & strong { color: $darkLilac;}
    color: darken($darkLilac, 20);
  }
}
blockquote {
  position: relative;
  .add_tilda &::before, .add_tilda &::after {
    content: '~';
    font-size: 56px;
    position: absolute;
    top: calc(50% - 23px);

  }
  .add_tilda &::before {
    left: 0px;
    @include bp(phablet) {
      left: -46px;
    }
  }
  .add_tilda &::after {
    right: 0px;
    @include bp(phablet) {
      right: -46px;
    }
  }
  & {
    .green_theme & {
       color: $darkGreenParagraph;
    }
    .black_theme & {
      color: $white;
    }
    .gold_theme & {
      color: $gold-light;
    }
    .lilac_theme & {
      color: $darkLilac;
    }
  }
}

button, .btn {
  font-family: $body-font-family;
  font-size: em(16);
  text-decoration: none;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight: 600;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  &:hover {
    color: $pink;
  }
}

ul {
  list-style: none;
}

input {
  font-size: em(18);
  line-height: 50px;
}

label {
  font-family: $nav-font-family;
  font-size: em(9);
  color: $black;
}

.select2-container--open .select2-dropdown {
  & input.select2-search__field {
    border: none;
    line-height: 18px;
  }
  & .select2-results__options {
    font-family: $nav-font-family;
  }
  &.select2-results__option--highlighted {
    color: $white;
    .green_theme & {
      background-color: lighten($green, 20%);
    }

  }
}

svg.uni_logo {
  .green_theme & {
        & path {
          fill: $green;
        }
        & #dot_1 {
          fill: $green;
        }
        & #dot_2 {
          fill: rgba($green, 75%);
        }
        & #dot_3 {
          fill: rgba($green, 25%);
        }
      }
      .blue_theme & {
        & path {
          fill: $blue;
        }
        & #dot_1 {
          fill: $blue;
        }
        & #dot_2 {
          fill: rgba($blue, 75%);
        }
        & #dot_3 {
          fill: rgba($blue, 25%);
        }
      }
      .lilac_theme & {
        & path {
          fill: $lilac;
        }
        & #dot_1 {
          fill: $lilac;
        }
        & #dot_2 {
          fill: rgba($lilac, 75%);
        }
        & #dot_3 {
          fill: rgba($lilac, 25%);
        }
      }
      .black_theme & {
        & path {
          fill: $lilac;
        }
        & #dot_1 {
          fill: $lilac;
        }
        & #dot_2 {
          fill: rgba($lilac, 0.75);
        }
        & #dot_3 {
          fill: rgba($lilac, 0.5);
        }
      }
      .gold_theme & {
        & path {
          fill: $gold !important;
        }
        & #dot_1 {
          fill: $gold-light;
        }
        & #dot_2 {
          fill: $gold;
        }
        & #dot_3 {
          fill:$gold-dark;
        }
      }
}