@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700&display=swap|Raleway:400,600&display=swap|EB+Garamond:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Fleur+De+Leah&&display=swap');
$nav-font-family: 'Gabriela', sans-serif;
$table: $nav-font-family;
$paragraph-font-family: 'EB Garamond', serif;
$raleway: 'Raleway', sans-serif;
$body-font-family: 'Gabriela', serif;
$corma: $body-font-family;
$cursive : 'Fleur De Leah', cursive;
h1 {
  font-family: $cursive;
  font-size: em(64);
  color: inherit;
  font-weight: 400;
  .blue_theme & {
    color: $darkBlue;
  }
  .green_theme & {
    color: $darkGreen;
  }
  .lilac_theme & {
    color: $darkLilac;
  }
  .black_theme & {
    color: $white;
  }
  @include bp(phablet){ 
    font-size: em(42);
  }
}
h2 {
  font-family: $cursive;
  font-size: em(44);
  color: $darkBlue;
  font-weight: 400;
  .blue_theme & {
    color: $darkBlue;
  }
  .green_theme & {
    color: $darkGreen;
  }
  .lilac_theme & {
    color: $darkLilac
  }
  .black_theme & {
    color: $white;
  }
  @include bp(phablet){
    font-size: em(22);
  }
}

h3 {
  font-family: $cursive;
  font-size: em(36);
  color: $darkBlue;
  font-weight: 400;
  & b {
    font-weight: 400 !important;
  }
  .blue_theme & {
    color: $darkBlue;
  }
  .green_theme & {
    color: $darkGreen;
    & b {font-weight: 400 !important;}
  }
  .lilac_theme & {
    color: $darkLilac
  }
  .black_theme & {
    color: $white;
  }
  @include bp(phablet){
    font-size: em(18);
  }
}

.s1 b {
  font-weight: 400 !important;
}

p, a {
  font-family: $paragraph-font-family;
  font-size: em(20);
  line-height: em(24);
  .green_theme & {
    color: $darkGreenParagraph;
  }
  .black_theme & {
    color: $white;
  }
}

button, .btn {
  font-family: $body-font-family;
  font-size: em(16);
  text-decoration: none;
}

a {
  text-decoration: underline;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  &:hover {
    color: $pink;
  }
}

ul {
  list-style: none;
}

input {
  font-size: em(18);
  line-height: 50px;
}

label {
  font-family: $raleway;
  font-size: em(9);
  color: $black;
}

.select2-container--open .select2-dropdown {
  & input.select2-search__field {
    border: none;
    line-height: 18px;
  }
  & .select2-results__options {
    font-family: $raleway;
  }
  &.select2-results__option--highlighted {
    color: $white;
    .green_theme & {
      background-color: lighten($green, 20%);
    }
  }
}