
.page-forsida .footer {
    margin-top: 100vh;
    // test budy
}

.footer {
  margin-top: 80px;
  min-height: 45vh;
  display: flex;
  flex-flow: column ;
  justify-content: space-between;
  nav {
    grid-column: middle / span 4;
    ul {
      list-style: none;
      a {
        font-family: $raleway;
        font-size: em(16);
        text-decoration: none;
      }
    }
  }
  .copyright {
    font-family: $raleway;
    font-size: em(12);    
    text-align: center;
  }
}

.svgFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100vh - 80px);
  filter: drop-shadow( 1px 1px 7px transparent);
  path {
    fill: transparent;  
    transition: fill 800ms ease-in-out;
  }


}
.svgFill {
    fill: $pink;
    transition: all 2000ms 300ms ease-in-out;
  }
  .svgShadow  {
    filter: drop-shadow( 0px 0px 2px rgba($pink, 0.2));
  }

  .svgPath {
    stroke: transparent !important;
  }

.svgBody {
  position: fixed;
  height: 80vh;
  width: 80vh;
  top: calc(50% - 40vh + 40px);
  left: calc(50% - 40vh);
  z-index: -1;
  opacity: 0;
  transition: all 800ms 300ms ease-in-out;
  path {
    stroke: $pink;
    transition: all 800ms 300ms ease-in-out;
  }
  g {
    transition: all 800ms 300ms ease-in-out;
  }
}