html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  // margin-top: 80px;

}
main {
  position: relative;
  
}
.mainarea {
  opacity: 0;
}
.mainarea--loaded {
  opacity: 1;
  transition: opacity 400ms ease;
}
textarea, select, input, button { outline: none; }
a {
  text-decoration: none;
  color: $black;
}

.text {
  &--pink {
    color: $pink;
  }
}

// html.sr .load-hidden
// html.sr .uni_section__posts__container
//  {
//   visibility: hidden;
// }
