@use "./variables" as *;

html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
}
main {
  position: relative;
    box-sizing: border-box;

  
}
.mainarea {
  opacity: 0;
    box-sizing: border-box;

}
.mainarea--loaded {
  opacity: 1;
  transition: opacity 400ms ease;
}
textarea, select, input, button { outline: none; }
a {
  text-decoration: none;
  color: $black;
    box-sizing: border-box;

}
img {
    box-sizing: border-box;
  
}

.text {
    box-sizing: border-box;

  &--pink {
    color: $pink;
  }
  &--dark-lilac {
    color: $darkLilac;
  }
  &--lilac {
    color: $lilac;
  }
  &--black {
    color:$black;
  }

}



// html.sr .load-hidden
// html.sr .uni_section__posts__container
//  {
//   visibility: hidden;
// }
