// colors

$pink: #CF6262;
$white: #fefbfb;
$black: #010125;
$lightBlue: #CBD9E2;
$blue: #6788A7;
$darkBlue: #264D6A;
$lilac: #A29BAB;
$green: #787e01;
$darkGreen: darken($green, 10%);
$darkGreenParagraph: darken($green, 15%);
$darkLilac: #6d616c;
$background1: #D4CDD2;

$gold:#ffd700;
$gold-light: lighten($gold, 25%);
$gold-dark: darken($gold, 25%);

$gold_overlay: linear-gradient(180deg, rgba($gold, 0.421) 0%, rgba($gold, 0.47) 100%);
$yellow_overlay: linear-gradient(180deg, rgba(255, 250, 95, 0.421) 0%, rgba(39, 174, 166, 0.47) 100%);
$green_overlay: linear-gradient(180deg, rgba(18, 133, 112, 0.53) 0%, rgba(220, 142, 73, 0.41) 100%);
$blue_overlay: linear-gradient(0, rgba($pink, 0.41), rgba($blue, 0.47) 50%);
$lilac_overlay: linear-gradient(0deg, rgba($lilac, 0.47), rgba($lilac, 0.47));
$red_overlay: linear-gradient(0deg, rgba($pink, 0.47), rgba($pink, 0.47));

// sizes
$xx-large: 2560px;
$x-large : 1440px;
$large: 1024px;
$medium: 768px;
$small: 414px;
$x-small: 320px;

$global-width: $x-large;

$transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
$transition-medium: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
