@use "../base" as *;
.uni_section {
  // width: 100vw;
  min-height: 500px;
  margin-bottom: 100px;
  &--less-margin {
    margin-bottom: 80px;
    @include bp(phablet) {
      margin-bottom: 60px;
    }
  }
  @include bp(phablet) {
    margin-bottom: 80px;
  }
  &__has_title{
    grid-template-rows: [title] 4em [middle] auto [end];
    row-gap: 3em;
    @include bp(phablet) {
      row-gap: 1em;
    }
    // align-content: end;
    & > h2,  & > p {
      align-self: end;
      grid-column: middle / span 6;
      grid-row-start: title;
      margin: 0;
      @include bp(tablet){
        grid-column: middle / span 12;
      }
    }
     & > p {
       grid-row-start: 2;
     }
  }
  .card-container {
    grid-row-start: middle;
  }
  &__margin_top {
    &_min {
      margin-top: 100px !important;
    }
    &_medium {
      margin-top: 240px !important;
    }
    &_large {
      margin-top: 480px !important;
    }
  }
  &.archive {
    margin-top: 100px;
  }
}
