.btn {
  display:  inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin: 20px 0 15px;
  cursor: pointer;
  transition: all 300ms ease;
  font-weight: 500;
  letter-spacing: 1.6px;
  overflow: hidden;
  clip-path: ellipse(82% 68% at 50% 30%);
  position: relative;
  &:hover {
    background-color: $darkBlue;
    &::before {
        transition: all 600ms $easing;
        opacity: 0;
      }
  }
  &::before {
    transition: all 600ms $easing;
    opacity: 1;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .blue_theme & {
    color: $white !important;
    background: radial-gradient(82% 68% at 50% 32%, rgba($blue,1) 0%, rgba($darkBlue,1) 100%);
    &::before {
      background: radial-gradient(82% 78% at 50% 0%, rgba($darkBlue,1) 0%, rgba($blue,1) 100%);
    }
    &:hover {
      color: $white;
    }
  }
  .green_theme & {
    color: $white !important;
    background: radial-gradient(82% 68% at 50% 32%, rgba($green,1) 0%, rgba($darkGreen,1) 100%);
    &::before {
      background: radial-gradient(82% 78% at 50% 0%, rgba($darkGreen,1) 0%, rgba($green,1) 100%);
    }
    &:hover {
      color: $white;
    }
  }
  .lilac_theme & {
    color: $white !important;
    background: radial-gradient(82% 68% at 50% 32%, rgba($lilac,1) 0%, rgba($darkLilac,1) 100%);
    &::before {
      background: radial-gradient(82% 78% at 50% 0%, rgba($darkLilac,1) 0%, rgba($lilac,1) 100%);
    }
    &:hover {
      color: $white;
    }
  }
  .black_theme & {
    color: $white !important;
    background: radial-gradient(82% 68% at 50% 32%, rgba($lilac,1) 0%, rgba($darkLilac,1) 100%);
    &::before {
      background: radial-gradient(82% 78% at 50% 0%, rgba($darkLilac,1) 0%, rgba($lilac,1) 100%);
    }
    &:hover {
      color: $white;
    }
  }
  .gold_theme & {
    color: darken($gold, 40%) !important;
    background: radial-gradient(82% 68% at 50% 32%, rgba($gold,1) 0%, rgba($gold-dark,1) 100%) !important;
    &::before {
      background: radial-gradient(82% 78% at 50% 0%, rgba($gold-dark,1) 0%, rgba($gold,1) 100%);
    }
    &:hover {
      color: $gold-light;
    }

  }
  &--lilac {
    color: $white;
    background: radial-gradient(82% 68% at 50% 32%, rgba($lilac,1) 0%, rgba($darkLilac,1) 100%);
    &::before {
      transition: all 600ms $easing;
      opacity: 1;
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: radial-gradient(82% 78% at 50% 0%, rgba($darkLilac,1) 0%, rgba($lilac,1) 100%);

    }
    &:hover {
      color: $white;
      &::before {
        transition: all 600ms $easing;
        opacity: 0;
      }
    }
  }

  &--dark-blue {
    background-color: $darkBlue;
    color: $white;
  }
  &--small {
    min-width: 110px;
  }
  &--nomargin {
    margin: 0;
  }

  
}

.wp-block-button__link {
  @extend .btn;
}
.btnContainer {
  grid-row: end;
  grid-column: middle / span 12;
  display: flex;
  justify-content: center;

  & a, button {
    margin-top: 60px;
  }

}