$card-bottom-rad: calc((100vw - 120px) / 12 * 1.5);

.uni_section {
  &__posts,
  &__products {
    position: relative;
    & .scrollBack,
    & .scrollForward {
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: white;
      z-index: 100;
      top: calc(50% - 90px);
      // bottom:0;
      transition: box-shadow 300ms ease, opacity 300ms ease-in-out, visibility 300ms 100ms ease-out;
      @include bp(tablet) {
        display: none;
      }
      .green_theme & {
        svg path {
          stroke: $darkGreen;
        }
      }
      .lilac_theme & {
        svg path {
          stroke: $darkLilac;
        }
      }
      &:active {
        box-shadow: 0px 0px 3px -3px rgba(gray, 0.5);
      }
    }
    & .scrollBack {
      border-radius: 50% 0 0 50%;
      box-shadow: 0px 1px 13px -3px rgba(gray, 0.5);
      transform: rotateY(180deg);
      left: 0px;
    }
    & .scrollForward {
      border-radius: 50% 0 0 50%;
      box-shadow: 5px 1px 13px -3px rgba(gray, 0.5);
      right: -0px;
    }
  }
}

.card-container {
  grid-column-start: middle;
  grid-column-end: middle-end;
  // grid-template-columns:  minmax(260px, 1fr);
  grid-gap: 0 20px; /* row gap: 0, column gap: 20px */
  grid-auto-flow: column;
  grid-auto-columns: minmax(260px, 1fr);
  display: grid;
  overflow-x: visible;
  overflow-y: scroll;
  grid-column-gap: 1rem;
  grid-row-gap: 4rem;
  min-height: 300px;
  padding-bottom: 60px;
  width: 100%;
  .archive & {
    display: grid;
    overflow: visible;
    grid-auto-flow: initial;
    grid-auto-columns: initial;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    overflow-x: visible;
    overflow-y: visible;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  @include bp($large) {
    padding: 5rem 1rem 1rem;
  }
  a,
  div {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: box-shadow 500ms 200ms ease, border-radius 500ms ease-out;
    border-radius: 14px 14px $card-bottom-rad $card-bottom-rad;
    text-decoration: none;
    overflow: hidden;
    aspect-ratio: 5/8;

    & .card_container {
      aspect-ratio: inherit;
      overflow: hidden;
      height: 100%;
    }
    article {
      width: 100%;
    }
    & header {
      height: 100%;
    }
    &:hover {
      color: $black;
      border-radius: 23px;
      box-shadow: 0 5px 10px 1px rgba($black, 0.1);
      transition: box-shadow 500ms 300ms ease-out, border-radius 500ms ease-in;

      header {
        height: 220px;
        transition: $transition-medium;
      }
      figure {
        width: 100%;
        img {
          width: 100%;
          transition: $transition-medium;
        }
        figcaption {
          opacity: 1;
          // transition: opacity 1000ms $easing;
        }
      }
      main {
        opacity: 1;
        transition: opacity 500ms 600ms $easing;
      }
      h2 {
        font-family: $corma;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        margin: 20px 0 0;
        text-align: left;
      }
      p {
        font-size: 1rem;
      }
      .link_container {
        display: flex;
        flex-flow: column;
        & a {
          grid-column: span 12;
          flex-basis: 100%;
        }
      }
    }

    figure {
      position: relative;
      margin: 0;
      height: 100%;
      transition: $transition-medium;
      display: flex;
      justify-content: center;

      img {
        object-fit: cover;

        transition: $transition-medium;
      }
      img.emoji {
        object-fit: contain;
      }
      figcaption {
        position: absolute;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: rgba($lilac, 0.6);
        text-shadow: 2px 2px 5px rgba($black, 0.3);
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        text-indent: 5px;
        z-index: 9;
        opacity: 1;
        padding: 0px;
        border-radius: 3px;
        transition: opacity 1000ms 300ms $easing;
        // background-blend-mode: overlay;
        &.yellow {
          background: $yellow_overlay;
          // mix-blend-mode: luminosity;
        }
        &.green {
          background: $green_overlay;
          // mix-blend-mode: saturation;
        }
        &.blue {
          background: $blue_overlay;
          // mix-blend-mode: hard-light;
        }
        &.red {
          background: $red_overlay;
          // mix-blend-mode: hard-light;
        }
        &.lilac {
          background: $lilac_overlay;
          // mix-blend-mode: hard-light;
        }
      }
    }

    main {
      margin: 12px 15px 0;
      opacity: 0;
    }
    h2 {
      font-family: $corma;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      margin-top: 20px;
      text-align: left;
    }
    p {
      font-size: 1rem;
      line-height: 20px;
      margin-top: 4px;
    }
  }
}
