.uni_section__content {
  min-height: calc(100vw - 80px);
  h1 {
    grid-column: 4 / span 10;
    grid-row-start: title;
    align-self: center;
  }
  &__wrap {
    
    align-self: top;
    grid-column: 5 / span 7;
    grid-row: 3;

    
    p {
      display: block;
      // max-width: calc((100% / 12) * 10); 
      @include bp($medium) {
        max-width: 100%;
      }
    }
    figure {
      display: block;
      margin: 0;
    
    }
  }
}