.uni_section__content {
  // min-height: calc(100vw - 80px);
  h1 {
    grid-column: 4 / span 8;
    grid-row-start: title;
    align-self: center;
     @include bp(phablet) {
      grid-column: middle / span 12;
    }
  }
  &__wrap {
    align-self: top;
    grid-column: 4 / span 8;
    grid-row: 3;
    
    @include bp(phablet) {
      grid-column: middle / span 12;
    }
    p {
      display: block;
      @include bp($medium) {
        max-width: 100%;
      }
    }
    figure {
      display: block;
      margin: 0;
    }
  }
  .wp-block-media-text .wp-block-media-text__content {
    @include bp(phablet){
      padding-left: 0 !important;
    }
  }
  & .wp-block-column:has(.full-width)  {
    min-height: 430px;
    & .full-width {
      position: absolute;
      left: 0;
    }
  }

  & .wp-block-image {
  margin: 0;
  & + p {
      margin-top: .5em;
    }
  }
}
