
.card-container {
  // display: flex;
  grid-column-start: middle;
  grid-column-end: middle-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  // grid-template-rows: [top] 65px [middle] repeat(5, 1fr) [bottom] 80px [last-line];
  grid-row-gap: 1em;
  min-height: 500px;
  @include bp($large){
    padding: 5rem 1rem 1rem; 
  }
  a {
    grid-column: span 4;
    transition: box-shadow 500ms 200ms ease-in;
    // padding:15px;
    &:hover {
      box-shadow: 0 14px 14px 5px rgba($black, 0.1);
      transition: box-shadow 500ms 200ms ease-out;
    }
    min-width: 280px;
    max-width: calc($global-width / 3);
    figure {
      margin: 0;
      height: 250px;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 220px;
      }
    }
  
    main {
      margin:20px 15px 0;
    }
    h2 {
      font-family: $corma;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      margin-top:20px;
      text-align: center;
      color: $darkBlue;
    }
  }
}